
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    overflow-x: hidden;
}
* {
    scroll-behavior: smooth;
}